@inputTransitionDuration: 3000ms;
@inputTransitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
@labelDefaultPosY: 50%;


@keyframes openCard {
  from {width: 0; height: 0; }
  to {width: 20em; height: 22em;}
}

:host article {
  width: 20em;
  height: 22em;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2em;
  animation-name: openCard;
  animation-duration: .2s;

  *:not(span) {
    margin: 0 2em 0 2em;
  }

  > span {
    text-align: end;
    &:after {
      margin: 0 0.5em 0 0;
      content: "x";
      font-size: 20px;
      color: rgb(255, 127, 80);
    }
    &:hover {
      scale: 1;
      opacity: 1;
      transform: translate(0, 0);
      transition-delay: 0.4s;
      cursor: pointer;
    }
  }

  input {
    outline: none;
    border: none;
    font-size: 2cap;
    font-weight: 200;
    color: rgba(127, 255, 0, 1);
    background: transparent;
    &::placeholder {
      color: rgba(127, 255, 0, 0.2);
      opacity: 1;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  textarea {
    resize: none;
    margin-top: 2em;
    padding: 1em;
    height: 70%;
    border: none;
    color: rgb(255, 127, 80);
    font-size: 2cap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    outline: none;
    background: transparent;
  }

  input[type="button"] {
  margin-top: .5em;
  cursor: pointer;
    background: url('../../../assets/img/red-trash-can-icon.svg') no-repeat;
    background-size: 1.1cap;
  }
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
