/* You can add global styles to this file, and also import other style files */

:root {
  --background-primary: #272121;
  --background-secundary: #443737;
  --color-primary: #FF4D00;
  --color-secundary: rgb(255, 0, 0);
  --color-secundary-opacity: rgba(255, 0, 0, 0.2);
}

html {
  background: #352F44;
  background: -moz-radial-gradient(circle, rgba(53, 47, 68, 1) 0%, rgba(28,20,22,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(53, 47, 68, 1) 0%, rgba(28,20,22,1) 100%);
  background: radial-gradient(circle, rgba(53, 47, 68, 1) 0%, rgba(28,20,22,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131833",endColorstr="#1c1416",GradientType=1);

  // background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  // background-blend-mode: multiply,multiply;
}

body {
  font-family: 'Vollkorn', Georgia, serif;
}
